.landing-page-container {
    background-color: red;
    width: 100vw; 
    height: 100vh;
}
.landing-page-wrapper{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 30px;
}
.landing-page-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.landing-page-text p {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    text-align: center;
}
.landing-page-filter {
    align-self: flex-end;
    padding: 15px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}
    
.landing-page-filter span {
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
}
    
#select-filter {
    appearance: none; 
    border: none; 
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    outline: none; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
    
#select-filter option {
    font-size: 18px;
    padding: 10px;
}

#select-filter {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='black'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
    padding-right: 30px;
}
.movies-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.landing-page-movies{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 40px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left:40px;
}
.film-card{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 15px;
}
.film-card:hover{
    transform: scale(1.5); 
    padding: 30px; 
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 2;
}
.film-card:hover p{
    font-size: 11px;
}
.film-card:hover .film-title{
    font-size: 18px;
}
.film-title{
    font-size: 20px;
    font-weight: bold;
}

.hidden-text {
    display: none;
}

.film-card:hover .hidden-text {
    display: block;
}


/* Crvena boja je dodana kako bi se lakše uočilo da je stil primijenjen na stranicu */